@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Roboto:400');

.font-roboto { font-family: 'Roboto', sans-serif; }
.font-merriweather { font-family: 'Merriweather', serif; }

.pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }

.border-black { border-color: black; }
.gray-bg { background-color: gray; }
